In [1]:
dt = [['Sua', 'Cu_hanh', 'Banh_quy', 'Keo', 'Trung', 'Sua_chua'],
      ['Thuoc_la', 'Cu_hanh', 'Banh_quy', 'Keo', 'Trung', 'Sua_chua'],
      ['Sua', 'Tao', 'Keo', 'Trung'],
      ['Sua', 'Bo', 'Bap', 'Keo', 'Sua_chua'],
      ['Bap', 'Cu_hanh', 'Keo', 'Kem', 'Trung']]
dt

[['Sua', 'Cu_hanh', 'Banh_quy', 'Keo', 'Trung', 'Sua_chua'],
 ['Thuoc_la', 'Cu_hanh', 'Banh_quy', 'Keo', 'Trung', 'Sua_chua'],
 ['Sua', 'Tao', 'Keo', 'Trung'],
 ['Sua', 'Bo', 'Bap', 'Keo', 'Sua_chua'],
 ['Bap', 'Cu_hanh', 'Keo', 'Kem', 'Trung']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_arr = te.fit(dt).transform(dt)
df = pd.DataFrame(te_arr, columns=te.columns_)
df

,Banh_quy,Bap,Bo,Cu_hanh,Kem,Keo,Sua,Sua_chua,Tao,Thuoc_la,Trung
0,True,False,False,True,False,True,True,True,False,False,True
1,True,False,False,True,False,True,False,True,False,True,True
2,False,False,False,False,False,True,True,False,True,False,True
3,False,True,True,False,False,True,True,True,False,False,False
4,False,True,False,True,True,True,False,False,False,False,True

In [3]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

min_sup = 0.6

freq_itemsets = apriori(df, min_support=min_sup, use_colnames=True)
freq_itemsets

    support               itemsets
0       0.6              (Cu_hanh)
1       1.0                  (Keo)
2       0.6                  (Sua)
3       0.6             (Sua_chua)
4       0.8                (Trung)
5       0.6         (Cu_hanh, Keo)
6       0.6       (Cu_hanh, Trung)
7       0.6             (Sua, Keo)
8       0.6        (Sua_chua, Keo)
9       0.8           (Keo, Trung)
10      0.6  (Cu_hanh, Keo, Trung)

In [4]:
freq_itemsets['length'] = freq_itemsets['itemsets'].apply(lambda x: len(x))
freq_itemsets

    support               itemsets  length
0       0.6              (Cu_hanh)       1
1       1.0                  (Keo)       1
2       0.6                  (Sua)       1
3       0.6             (Sua_chua)       1
4       0.8                (Trung)       1
5       0.6         (Cu_hanh, Keo)       2
6       0.6       (Cu_hanh, Trung)       2
7       0.6             (Sua, Keo)       2
8       0.6        (Sua_chua, Keo)       2
9       0.8           (Keo, Trung)       2
10      0.6  (Cu_hanh, Keo, Trung)       3

In [5]:
freq_itemsets[(freq_itemsets['length'] == 2) & (freq_itemsets['support'] >= 0.8)]

   support      itemsets  length
9      0.8  (Keo, Trung)       2

In [6]:
freq_itemsets[freq_itemsets['itemsets'] == {'Cu_hanh', 'Trung'}]

   support          itemsets  length
6      0.6  (Cu_hanh, Trung)       2

In [7]:
association_rules(freq_itemsets, metric='confidence', min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cu_hanh),(Keo),0.6,1.0,0.6,1.00,1.00,0.00,inf
1,(Cu_hanh),(Trung),0.6,0.8,0.6,1.00,1.25,0.12,inf
2,(Trung),(Cu_hanh),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(Sua),(Keo),0.6,1.0,0.6,1.00,1.00,0.00,inf
4,(Sua_chua),(Keo),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Keo),(Trung),1.0,0.8,0.8,0.80,1.00,0.00,1.0
6,(Trung),(Keo),0.8,1.0,0.8,1.00,1.00,0.00,inf
7,"(Cu_hanh, Keo)",(Trung),0.6,0.8,0.6,1.00,1.25,0.12,inf
8,"(Cu_hanh, Trung)",(Keo),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Keo, Trung)",(Cu_hanh),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Cu_hanh),"(Keo, Trung)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Trung),"(Cu_hanh, Keo)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [8]:
rules = association_rules(freq_itemsets, metric='lift', min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cu_hanh),(Trung),0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Trung),(Cu_hanh),0.8,0.6,0.6,0.75,1.25,0.12,1.6
2,"(Cu_hanh, Keo)",(Trung),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,"(Keo, Trung)",(Cu_hanh),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Cu_hanh),"(Keo, Trung)",0.6,0.8,0.6,1.00,1.25,0.12,inf
5,(Trung),"(Cu_hanh, Keo)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [9]:
rules[rules['antecedents'] == {'Trung'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Trung),(Cu_hanh),0.8,0.6,0.6,0.75,1.25,0.12,1.6
5,(Trung),"(Cu_hanh, Keo)",0.8,0.6,0.6,0.75,1.25,0.12,1.6