In [1]:
import pandas as pd
import numpy as np

ratings_dt = pd.read_csv('ml-latest-small/ratings.csv')
ratings_dt.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
movie_names = pd.read_csv('ml-latest-small/movies.csv')
movie_names.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_dt = pd.merge(ratings_dt, movie_names, on='movieId')
movie_dt.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [4]:
ratings_mean_cnt = pd.DataFrame(movie_dt.groupby('title')['rating'].mean())
ratings_mean_cnt.head()

                                         rating
title
'71 (2014)                                  4.0
'Hellboy': The Seeds of Creation (2004)     4.0
'Round Midnight (1986)                      3.5
'Salem's Lot (2004)                         5.0
'Til There Was You (1997)                   4.0

In [5]:
ratings_mean_cnt['ratings_cnt'] = pd.DataFrame(movie_dt.groupby('title')['rating'].count())
ratings_mean_cnt.head()

                                         rating  ratings_cnt
title
'71 (2014)                                  4.0            1
'Hellboy': The Seeds of Creation (2004)     4.0            1
'Round Midnight (1986)                      3.5            2
'Salem's Lot (2004)                         5.0            1
'Til There Was You (1997)                   4.0            2

In [6]:
user_movie_rating = movie_dt.pivot_table(index='userId', columns='title', values='rating')
user_movie_rating.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
forrest_gump_ratings = user_movie_rating['Forrest Gump (1994)']
forrest_gump_ratings.head()

userId
1    4.0
2    NaN
3    NaN
4    NaN
5    NaN
Name: Forrest Gump (1994), dtype: float64

In [8]:
movies_like_FG = user_movie_rating.corrwith(forrest_gump_ratings, method='pearson')

corr_FG = pd.DataFrame(movies_like_FG, columns=['Correlation'])
corr_FG.dropna(inplace=True)
corr_FG.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                Correlation
title
'burbs, The (1989)                 0.197712
(500) Days of Summer (2009)        0.234095
*batteries not included (1987)     0.892710
...And Justice for All (1979)      0.928571
10 Cent Pistol (2015)             -1.000000

In [9]:
corr_FG.sort_values('Correlation', ascending=False).head()

                                    Correlation
title
Lost & Found (1999)                         1.0
Century of the Self, The (2002)             1.0
The 5th Wave (2016)                         1.0
Play Time (a.k.a. Playtime) (1967)          1.0
Memories (Memorîzu) (1995)                  1.0

In [10]:
corr_FG = pd.merge(corr_FG, ratings_mean_cnt, on='title')
corr_FG = corr_FG.drop(columns=['rating'])
corr_FG.head()

                                Correlation  ratings_cnt
title
'burbs, The (1989)                 0.197712           17
(500) Days of Summer (2009)        0.234095           42
*batteries not included (1987)     0.892710            7
...And Justice for All (1979)      0.928571            3
10 Cent Pistol (2015)             -1.000000            2

In [11]:
corr_FG[corr_FG['ratings_cnt'] > 50].sort_values('Correlation', ascending=False).head()

                           Correlation  ratings_cnt
title
Forrest Gump (1994)           1.000000          329
Mr. Holland's Opus (1995)     0.652144           80
Pocahontas (1995)             0.550118           68
Grumpier Old Men (1995)       0.534682           52
Caddyshack (1980)             0.520328           52

In [12]:
ratings_cnt = 50
suggestion_cnt = 10

def pred(title, ratings_cnt=ratings_cnt, suggestion_cnt=suggestion_cnt):
    pred_movie_ratings = user_movie_rating[title]
    movies_like = user_movie_rating.corrwith(pred_movie_ratings, method='pearson')

    corr_movie = pd.DataFrame(movies_like, columns=['Correlation'])
    corr_movie.dropna(inplace=True)
    corr_movie = pd.merge(corr_movie, ratings_mean_cnt, on='title')
    corr_movie = corr_movie.drop(columns=['rating'])
    suggestion_list = corr_movie[corr_movie['ratings_cnt'] > ratings_cnt].sort_values('Correlation', ascending=False)
    if suggestion_list.iloc[0].name == title:
        suggestion_cnt += 1
    print(suggestion_list.head(suggestion_cnt))

In [13]:
pred('Forrest Gump (1994)')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
                           Correlation  ratings_cnt
title
Forrest Gump (1994)           1.000000          329
Mr. Holland's Opus (1995)     0.652144           80
Pocahontas (1995)             0.550118           68
Grumpier Old Men (1995)       0.534682           52
Caddyshack (1980)             0.520328           52
Few Good Men, A (1992)        0.517146           57
Field of Dreams (1989)        0.503845           56
Big (1988)                    0.492351           91
Hook (1991)                   0.484676           53
Good Will Hunting (1997)      0.484042          141
Lady and the Tramp (1955)     0.464827           55

In [14]:
pred('Pocahontas (1995)')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
                                                    Correlation  ratings_cnt
title
Pocahontas (1995)                                      1.000000           68
Chasing Amy (1997)                                     0.909494           52
Superman (1978)                                        0.778283           61
Chinatown (1974)                                       0.750824           59
Little Mermaid, The (1989)                             0.723075           67
Chronicles of Narnia: The Lion, the Witch and t...     0.709618           62
Grease (1978)                                          0.695002           68
Casper (1995)                                          0.666834           62
Blazing Saddles (1974)                                 0.661776           62
10 Things I Hate About You (1999)                      0.633633           54
Jerry Maguire (1996)                                   0.625463           85

In [15]:
pred('(500) Days of Summer (2009)')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
                                        Correlation  ratings_cnt
title
Star Trek II: The Wrath of Khan (1982)     0.981991           62
Piano, The (1993)                          0.944911           61
Desperado (1995)                           0.891042           66
Dances with Wolves (1990)                  0.879955          164
Crow, The (1994)                           0.857493           64
Enemy of the State (1998)                  0.785081           67
Hangover, The (2009)                       0.783604           76
Bourne Ultimatum, The (2007)               0.764445           81
Star Trek (2009)                           0.745959           59
Others, The (2001)                         0.730043           55