In [1]:
import pandas as pd
import numpy as np

dt = pd.read_csv('CF_6users.csv', header=None)
dt

   0  1  2  3   4  5
0  3  7  4  9   9  7
1  7  0  5  3   8  8
2  7  5  5  0   8  4
3  5  6  8  5   9  8
4  5  8  8  8  10  9
5  7  7  0  4   7  8

In [2]:
dt1 = dt.iloc[:,[0, 4, 5]]
dt1

   0   4  5
0  3   9  7
1  7   8  8
2  7   8  4
3  5   9  8
4  5  10  9
5  7   7  8

In [3]:
from scipy.stats.stats import pearsonr

corr_list = []
for i in range(6):
    corr = pearsonr(dt1.iloc[i,], dt1.iloc[2,])
    corr_list.append(corr[0])
    print(corr)
print(corr_list)

(0.05241424183609593, 0.9666167600124103)
(-0.2773500981126146, 0.8210876249779332)
(1.0, 0.0)
(-0.03846153846153849, 0.9755085832891999)
(-0.09078412990032037, 0.9421253433016101)
(-0.970725343394151, 0.15442095831126657)
[0.05241424183609593, -0.2773500981126146, 1.0, -0.03846153846153849, -0.09078412990032037, -0.970725343394151]

In [4]:

tu = mau = 0

for i in range(6):
    if i != 2:
        tu += corr_list[i] * (dt.iloc[i, 3] - np.mean(dt1.iloc[i]))
        mau += corr_list[i]

pred = np.mean(dt1.iloc[2]) + tu/mau
print(pred)
print(round(pred))

2.740955168005794
3.0